<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilmManagementSystemPhase3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserInteractionServlet</display-name>
    <servlet-name>UserInteractionServlet</servlet-name>
    <servlet-class>com.flp.fms.view.UserInteractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInteractionServlet</servlet-name>
    <url-pattern>/UserInteractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveFilmServlet</display-name>
    <servlet-name>SaveFilmServlet</servlet-name>
    <servlet-class>com.flp.fms.view.SaveFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFilmServlet</servlet-name>
    <url-pattern>/SaveFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.flp.fms.view.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavefilmServlet</display-name>
    <servlet-name>SavefilmServlet</servlet-name>
    <servlet-class>com.flp.fms.view.SavefilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavefilmServlet</servlet-name>
    <url-pattern>/SavefilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllFilmServlet</display-name>
    <servlet-name>ListAllFilmServlet</servlet-name>
    <servlet-class>com.flp.fms.view.ListAllFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllFilmServlet</servlet-name>
    <url-pattern>/ListAllFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilmServlet</display-name>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <servlet-class>com.flp.fms.view.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilmServlet</servlet-name>
    <url-pattern>/DeleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.flp.fms.view.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.flp.fms.view.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCoreServlet</display-name>
    <servlet-name>SearchCoreServlet</servlet-name>
    <servlet-class>com.flp.fms.view.SearchCoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCoreServlet</servlet-name>
    <url-pattern>/SearchCoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePageServlet</display-name>
    <servlet-name>UpdatePageServlet</servlet-name>
    <servlet-class>com.flp.fms.view.UpdatePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePageServlet</servlet-name>
    <url-pattern>/UpdatePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.flp.fms.view.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatingServlet</display-name>
    <servlet-name>UpdatingServlet</servlet-name>
    <servlet-class>com.flp.fms.view.UpdatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatingServlet</servlet-name>
    <url-pattern>/UpdatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePageServlets</display-name>
    <servlet-name>UpdatePageServlets</servlet-name>
    <servlet-class>com.flp.fms.view.UpdatePageServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePageServlets</servlet-name>
    <url-pattern>/UpdatePageServlets</url-pattern>
  </servlet-mapping>
</web-app>